<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Material List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav>
        <div class="container">
            <div class="nav-con">
                <div class="logo">
                    <a href="{{ url_for('main') }}">
                        <img src="{{ url_for('static', filename='image/images.png') }}" alt="" style="width: 100px; margin: 0 1rem;">
                    </a>
                </div>
                <ul class="menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
    
                <!-- Profile dropdown menu -->
                {% if user %}
                    <div class="profile">
                        <i class="fa fa-user-circle " aria-hidden="true" style="margin-top: 1.5rem; margin-left: 7.5rem;font-size: 40px;"></i>
                        <li class="user" style=" margin-left: 7rem; margin-top: -1.5rem;" >
                            <a href="javascript:void(0)" onclick="toggleDropdown()" style="text-decoration: none;
                            color:white; font-size: 1.2rem; margin:  0 5rem;">{{ user.username }}</a>
                            <ul id="profileDropdown" class="dropdown-content">
                                <li><a href="{{ url_for('profile') }}"><i class="fa fa-user-o" aria-hidden="true"> Profile</i></a></li>
                                <li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out" aria-hidden="true"> Logout</i></a></li>
                            </ul>
                        </li>
                    
                    </div>
                    <section class="main">
                        <a href="{{ url_for('index') }}" class="">
                        <section id="card1" class="card">
                            <img src="{{ url_for('static', filename='image/04.jpg') }}" alt="" style="width: 100%; background-repeat: repeat-x;">
                                <div class="card__content">
                                    <p class="card__title">Material List</p>
                                    <p class="card__description">
                                        This website is designed for adding, searching, and managing materials for the Faculty of Dentistry.
                                    </p>
                                </div>
                          </section>
                        </a>
                    </section>
                {% else %}
                    <div class="login">
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                    </div>
                    <div class="signup">
                        <li><a href="{{ url_for('register') }}">Sign Up</a></li>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
    <img src="{{ url_for('static', filename='image/02.jpg') }}" alt="" style="width: 100%; background-repeat: repeat-x;">

    
    <script>
        function toggleDropdown() {
            var dropdown = document.getElementById("profileDropdown");
            dropdown.classList.toggle("show");
        }
    
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
            if (!event.target.matches('.user a')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    
</body>
</html>
