<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <div class="container">
        <div class="nav-con">
            <div class="logo">
                <a href="{{ url_for('main') }}">
                    <img src="{{ url_for('static', filename='image/images.png') }}" alt="" style="width: 100px; margin: 0 1rem;">
                </a>
            </div>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <div class="login">
                <li><a href="{{ url_for('login') }}">Login</a></li>
            </div>
        </div>
    </div>
</nav>

<section class="register">
    <h1 style="padding: 0 1rem;">Register</h1>
    <form id="registerForm" method="POST" action="{{ url_for('register') }}">
        <label for="username" style="padding: 0 1rem;">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password" style="padding: 0 1rem;">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit" >Sign Up</button>
    </form>
</section>

<script>
    document.getElementById('registerForm').addEventListener('submit', function(event) {
    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;

    // คุณสามารถเพิ่มการตรวจสอบข้อมูลได้ที่นี่
    if (username === "" || password === "") {
        alert("กรุณากรอกข้อมูลให้ครบถ้วน");
        event.preventDefault(); // ยกเลิกการส่งฟอร์ม
    }
});

</script>

</body>
</html>
